*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.circle{
    height: 200px;
    width: 200px;
    border: 15px solid red;
    border-radius: 50%;
    margin-top: 15%;
    animation: circle 2s infinite forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes circle {
    0% {
        border-color: red;
        transform: scale(1);
    }
    25% {
        border-color:palevioletred;
        transform: scale(1.1);
    }
    50% {border-color:purple;
        transform: scale(1.2);
    }
    75% {
        border-color:pink;
        transform: scale(1.1);
    }
    100% {
        border-color:plum ;
        transform: scale(1);
    }
}

.kvadrat {
    width: 75px;
    height: 75px;
    border: 5px solid lightgreen;
    animation: kvadrat 2s infinite ease-in-out alternate-reverse;
}

@keyframes kvadrat {
    0%{
        transform: rotate(0deg);
    }
    25%{
        border-color: lightseagreen;
        border-width: 10px;
    }
    50%{
        border-color: lightskyblue;
        border-width: 20px;
    }
    75%{
        border-color: mediumaquamarine;
        border-width: 40px;
    }
    100%{
        transform: rotate(360deg);
    }
}